DTD/params.dtd

<!ELEMENT Request (requestName, params)>
<!ELEMENT requestName (#PCDATA)>
<!ELEMENT params ((startTime|country|startID|latitude|q),(endTime|endID|longitude)?, (country|radius|number)?)>
<!ELEMENT startTime (#PCDATA)>
<!ELEMENT endTime (#PCDATA)>
<!ELEMENT q (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT startID (#PCDATA)>
<!ELEMENT endID (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT radius (#PCDATA)>
<!ELEMENT number (#PCDATA)>